<%- include ("partials/header") %>
<link rel="stylesheet" type="text/css" href="results.css">


<h1>MOVIE RESULTS PAGE!!!</h1>


<div id = container>
	
	<ul>	
    <% data["Search"].forEach(function(movie){ %>
       <li>
		   <span class = "glyphicon glyphicon-film"></span> <strong><%= movie["Title"] %></strong> - <%=                movie["Year"] %>
    <% }); %>
		</li>
</ul>
</div>

<div>
	<a href ="/">Search Again!!!</a>
</div>




<%- include ("partials/footer") %>