body{
background: #40E0D0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form-area{
	padding-left: 20px;
}

.main{
	background: rgba(0, 0, 0, 0.2);	
	width: 30%;
	height: 200px;
	margin: 20% auto;
	border: 4px solid rgba(43, 194, 191, 0.2);
}

.main h1{
	text-align: center;
}

.form-control{
	width: 270px;
}
